<template name="header">
  <header>
    <div class="logo">
      <a class="index" href="{{pathFor 'postsList'}}"><h1>Simple Meteor CMS</h1></a>
    </div>
    <div class="login">
      {{> loginButtons}}
    </div>
  </header>
  <nav>
    {{#if isInRole 'admin'}}<ul class="admin-navigation">
      <li><a href="{{pathFor 'postSubmit'}}">Create new Post</a></li>
    </ul>{{/if}}
  </nav>
  <div class="features">
    <ul class="grid">
      <li>Bower</li>
      <li>SASS</li>
      <li>Bourbon</li>
      <li>Neat</li>
    </ul>
  </div>
</template>
