header {
  @include clearfix;
}

.logo {
  float: left;
  a {
    color: #3f3f3f;
  }
}
.login {
  float: right;
  padding: 20px;
}

nav {
  li {
    list-style-type: none;
    display: inline-block;
    a {
      color: #000;
      padding-bottom: 4px;
      border-bottom: 2px solid #000;
    }
  }
}
