
// bower install components
@import ".meteor/local/bower/normalize-css/normalize.css";
@import ".meteor/local/bower/bourbon/dist/bourbon";
@import ".meteor/local/bower/neat/app/assets/stylesheets/neat";

// Clears
ul, li {
  margin: 0 0;
  padding: 0 0;
}


// partials

@import "partials/header";
@import "partials/grid";


body {
  background: white;
  height: 100%;
}
